NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_BASE_URL=https://api.turnkey.com
NEXT_PUBLIC_ORGANIZATION_ID=85f06fc6-6d86-4eca-9de9-8b199c67d26a
NEXT_PUBLIC_RP_ID=localhost
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=<your-google-oauth-client-id>
NEXT_PUBLIC_APPLE_OAUTH_CLIENT_ID=<your-apple-oauth-client-id>
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=<your-facebook-oauth-client-id>
NEXT_PUBLIC_FACEBOOK_GRAPH_API_VERSION=21.0
NEXT_PUBLIC_FACEBOOK_AUTH_VERSION=11.0
# Sensitive values ideally for server only

ALCHEMY_API_KEY=T5vNRu6GY7eluh2JlGOhTZFVqndWPlX5
COINGECKO_API_KEY=

TURNKEY_API_PUBLIC_KEY=03c5e2796bfcbfaa7bcb0825256fd8ba7bb75751ae34£463c5a7e6638£3981fe5
TURNKEY_API_PRIVATE_KEY=a7f9244766dd1b73f815e8915ba50fdf68805b0c94fc9177aa5624c58fa55803

# Use any randomly generated alphanumeric string
FACEBOOK_SECRET_SALT='1234567890'